/* INDEX1 */
*{
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.img-bucky{
    width: auto;
    height: 40em;
}
button{
    margin-top: 10px;
    color: white;
    background-color: lightskyblue;
    border: 1px solid lightslategray;
    padding: 8px;
    border-radius: 10px;
}
button:active{
    background-color: lightblue;
}